/*
Asetetaan books.jpg taustaksi. Säädetään otsikko ja fontit sopivan kokoisiksi. Lisätään paddingia jotta boxista tulee sopivan kokoinen.
*/
body {
    background-image: url("../Historia/Kuvat/books.jpg"); /* Taustakuvan lähde: https://pixabay.com/fi/photos/kirjoja-kirjasto-lukeminen-koulutus-2606859/ */
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
/*
h4:lla säädetään "Kysymys X/5" -otsikkoa. Lisätään tähänkin marginia ja paddingia, jotta saadaan teksti oikeaan kohtaan. Muutetaan fontti ja sen koko.
*/
h4 {
    margin: 15px;
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
h2:lla säädetään "Historia" -otsikkoa. Keskitetään teksti ja lisätään paddingia ja marginia.
*/
h2 {
    background-color: rgb(255, 180, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
}
/*
div#kysymys säätää kysymysboxia. Text-align keskittää tekstin. Ei lisätä reunoja.
*/
div#kysymys {
    background-color: rgb(195, 154, 100);
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 0;
}
/*
div#vastaus säätää vastausboxia, joka tulee esiin, kun käyttäjä on lukinnut vastauksen. Lähes samat asetukset mitä kysymysboxissa.
*/
div#vastaus {
    background-color: burlywood;
    text-align: center;
    padding: 4px;
    margin: 25px;
    border: none;
    border-radius: 0;
}
/*
div säätää koko tietovisa-boxin ulkoasua. 
*/
div {
    background-color: burlywood;
    grid-column: 2/3;
    border: 20px solid #4b1500;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}
/*
label säätää vastausvaihtoehtojen paikkaa. Padding luo väliä radiobuttonin ja tekstin väliin.
*/
label {
    font-size: 35px;
    padding: 15px;
    text-align: right;
}
/*
input[type="radio"] säätää radiobuttonia. Marginin avulla saadaan radiobutton ja sen vieressä oleva teksti samalle tasolle. Width tuo buttonille lisää tilaa vaakatasossa ja height lisää väliä 
vastausvaihtoehtojen välillä.
*/
input[type="radio"] {
    margin: 0.4em;
    width: 1.15em;
    height: 1.5em;
    border: 0.15em;
    border-radius: 50%;
    font-size: 25px; 
    margin-top: 8.5px;
    vertical-align: middle;
}
/*
"Lukitse vastaus" ja "Seuraava kysymys" -nappien tyylit
*/
.btn1 {
    font-size: 2.4rem;
    padding: 2 rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(7, 177, 21) 0%, rgb(17, 75, 2) 100%);
    border-radius: 4px;
}

.btn2 {
    font-size: 2.4rem;
    padding: 2 rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(126, 26, 8) 0%, rgb(218, 96, 48) 100%);
    border-radius: 4px;
}
/*
Tulokset-napin tyyli
*/
.tulokset {
    padding: 30px;
    text-align: center;
    font-size: 70px;
}
/*
"Pisteet" ja "Kiitos pelailusta" tekstien tyylit
*/
.pisteesi {
    font-size: 40px;
}

.kiitos {
    padding: 30px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
