/* kommentti */

body {
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: antiquewhite;
}
h4 {
    margin: 15px;
    padding-left: 20px;
    font-size: 30px;
}

h2 {
    background-color: rgb(216, 160, 58);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
}

div#kysymysVastaus {
    background-color: rgb(216, 160, 58);
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 0;
}

div {
    background-color: #a5744c;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 20px solid #4b1500;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

label {
    font-size: 33px;
    padding: 25px;
    text-align: right;
}

input[type="radio"] {
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    font-size: 25px; 
    margin-top: 8.5px;
    vertical-align: middle;
}

.btn1 {
    font-size: 2.4rem;
    padding: 2 rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(7, 177, 21) 0%, rgb(17, 75, 2) 100%);
    border-radius: 4px;
}

.btn2 {
    font-size: 2.4rem;
    padding: 2 rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(126, 26, 8) 0%, rgb(218, 96, 48) 100%);
    border-radius: 4px;
}

p#ratkaisu.incorrectAnswer {
    padding-top: 5rem;

}