body{
    background-image: url("../Tietovisa-7thheaven/triangles-1430105_960_720.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    text-align: center;
    margin: 15px;
    padding-top: 1.8em;
    font-size: 30px;
}
.col-6{
    border: 10px solid black;
    border-radius: 10px;
    background-color: rgb(252, 220, 245);
    padding-bottom: 2em;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 1.5em;
    font-weight: bold;
}
#pop{
    padding: 15px;
    border: 3px solid #d6208d;   
    border-radius: 15px;    
    padding-left: 30px;
    padding-right: 30px;
}
#luonnontiede{
    padding: 15px;
    background-color: #bcebc2;
    border: 3px solid #20d638;   
    border-radius: 15px;   
    padding-left: 30px;
    padding-right: 30px; 
}
#historia{
    padding: 15px;
    background-color: #f8f7c4;
    border: 3px solid #d3cf00;    
    border-radius: 15px;   
    padding-left: 30px;
    padding-right: 30px;
}
#taide{
    padding: 15px;
    background-color: #f6d2fa;
    border: 3px solid #a311b6;    
    border-radius: 15px;  
    padding-left: 30px;
    padding-right: 30px; 
}
#urheilu{
    padding: 15px;
    background-color: #eeddc4;
    border: 3px solid #d68d20; 
    border-radius: 15px;  
    padding-left: 30px;
    padding-right: 30px; 
}
a#pop:hover{
    color: #79104f;
    font-weight: bold;
}
a#luonnontiede:hover{
    color: #116e1d;
    font-weight: bold;
}
a#historia:hover{
    color: #949100;
    font-weight: bold;
}
a#taide:hover{
    color: #670974;
    font-weight: bold;
}
a#urheilu:hover{
    color: #8f5e14;
    font-weight: bold;
}