
/*
    Tyylitiedosto valitulle vastaukselle. Tiedostossa on määritelty kuvat, koot ja tyylit tämän kysymyksen avatulle vastaukselle.
*/input[type="radio"]{
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
body{
    text-align: center;
    background-image: url("../../Luonnontiede.jpg");
    background-size: cover;
    padding-bottom: 5em;
}
#numero{
    font-size: 20px;
    text-align: left;
    padding-top: 0em;
}
#pisteet{
    font-size: 20px;
    text-align: right;
    padding-top: 0em;
}
#content{
    padding-top: 1.5em;
}
.col-6{
    text-align: center;
    background-color: rgb(163, 238, 163);
    border: 15px solid rgb(7, 226, 55);
    border-radius: 15px;
}
p{
    font-family:cursive;
    font-size: 1.5em;
}
#kysymys{
    text-decoration: underline;
    text-decoration-color: rgb(28, 141, 0);
}
span{
    font-weight: bold;
}
.selite{
    background-color: rgb(199, 241, 208);
    border: 3px solid rgb(199, 241, 208);
    border-radius: 5px;
}
.kuvalinkki{
    color: black;
    text-decoration: none;
}