body {
    background-image: url("Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: center;
    height: 100%;
    zoom: 75%;
}

.quiz {
    background-color: #FFBCE9;
    border: 20px solid #921560;
    border-radius: 20px;
    width: 650px;
    height: 1050px;
    margin: auto;
    margin-top: 40px;
}

div#kysymysVastaus {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 0;
    font-size: 25px;
}

.otsikko {
    background-color: white;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
}

.tietoja {
    margin: 15px;
    padding-left: 8px;
    font-size: 20px;
}

div#imageParent {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 0;
}

img#image1 {
    display: none;
    margin-right: auto;
    margin-left: auto;
}

label {
    font-size: 25px;
}

input[type="radio"] {
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1.5px solid currentColor;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 25px;
}

div#radiobuttons {
    margin-left: 50px;
}

.buttons {
    margin-top: 25px;
}

#seuraava {
    visibility: hidden;
}

#lukitse {
    margin-left: 30px;
}

.correctAnswer {
    color: green;
}

.incorrectAnswer {
    color: red;
}

.kuvalahde {
    font-size: 15px;
}

.ylatunniste {
    font-size: 25px;
    color: black;
}