/*
    Created on : December, 2021
    Author     : Siiri Poropudas
*/

/*
Asetetaan "Background_image" taustaksi keskelle ja säätetään kuvaa, jotta se ei toistu. Tehdään kuvasta 5000 pikselin suuruinen, jotta se täyttää koko sivun. Säädetään myös kuvan pituutta, jotta se täyttää koko sivun pystysuunnassa. Määritetään sivun zoom 75 prosenttiin, jotta näkymä olisi parempi.
*/
body {
    background-image: url("./Kuvat/Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: center;
    height: 100%;
    zoom: 75%;
}

/*
Asetetaan "quiz" laatikon tasutaväriksi vaaleanpunainen sekä reunoiksi tylppä 20:nen pikselin suuruinen purppura viiva. Määritetään "quiz" laatikko 650 pikselin levyiseksi ja 1050 pikselin pituiseksi. Määritetään margin kyseiselle laatikolle automaattisesti sekä margin-top 40 pikselin suuruiseksi.
*/
.quiz {
    background-color: #FFBCE9;
    border: 20px solid #921560;
    border-radius: 20px;
    width: 650px;
    height: 1050px;
    margin: auto;
    margin-top: 40px;
}

/*
Säädetään kysymyslaatikon taustaväriksi valkoinen sekä keskitetään teksti keskelle laatikkoa. Säädetään paddingia 10 pikselin kokoiseksi sekä margin 25 pikselin suuruiseksi. 
*/
div#kysymysVastaus {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 25px;
    font-size: 25px;
}

/*
Asetetaan otsikolle taustaväriksi valkoinen ja keskitetään se keskelle "quiz" laatikkoa. Säädetään otsikolle yleistä paddingia 20 pikseliä sekä paddingia oikealle ja vasemmalle 25 pikseliä. Asetetaan myös marginia 25 pikselin suuruiseksi. Tehdään fontista lihavoitu sekä 40 pikselin kokoinen.
*/
.otsikko {
    background-color: white;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
}

/*
Määritellään myös fontti koko 20 pikselin suuruiseksi ja margin 25 pikselin suuruiseksi. Asetetaan myös paddingia kahdeksan pikselin verran.
*/
.tietoja {
    margin: 15px;
    padding-left: 8px;
    font-size: 20px;
}

/*
Kysymys 4. kuvia varten tyyli, joka määrittelee molemmille taustaväriksi valkoisen ja keskittää kuvat. Lisätään paddingia 10 pikselin verran sekä marginia 25 pikselin verran. Poistetaan reunat.
*/
div#imageParent {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 0;
}

/*
Kysymys 4. loppukuvaa varten tyyli, joka piilottaa loppukuvan. Asetetaan marginit oikealle sekä vasemalle automaattisesti.
*/
img#image1 {
    display: none;
    margin-right: auto;
    margin-left: auto;
}

/*
Asetataan radiobuttoneiden inputeille fonttikoko 25 pikselin kokoiseksi. Muokataan radiobuttoneiden marginia 0.3 em suuruiseksi, muokataan fonttia inheritiksi sekä radiobuttoneiden väriä. Säädellään pituus sekä leveys 1.15 em kokoiseksi. Asetetaan reunoiksi jatkuva 1.5 pikselin pyöreähkö reunaviiva. Asetetaan tekstin koko 25 pikselin suuruiseksi sekä marginia vasemalla 25 pikselin suuruiseksi. Muokataan myös koko radiobutton osion vasenta marginia 50 pikselin verran.
*/
label {
    font-size: 25px;
}

input[type="radio"] {
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1.5px solid currentColor;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 25px;
}

div#radiobuttons {
    margin-left: 50px;
}

/*
Säädetään napeille margin-top 25 pikselin suuruiseksi. Piilotetaan myös seuraava-nappi pois näkyviltä. Säädetään lukitse-napin vasenta marginia 30 pikselin suuruiseksi.
*/
.buttons {
    margin-top: 25px;
}

#seuraava {
    visibility: hidden;
}

#lukitse {
    margin-left: 30px;
}

/*
Luodaan tyylit oikealle sekä väärälle vastauksille. Väärä vastaus vaihtaa värin punaiseksi ja oikea taas vihreäksi.
*/
.correctAnswer {
    color: green;
}

.incorrectAnswer {
    color: red;
}

/*
Määritellään kuvalähden tekstin fonttikoko 15 pikselin suuruiseksi. Määritetään myös nav-barin teksti 20 pikselin suuruiseksi ja laitetaan paddingia 4 pikselin verran.
*/
.kuvalahde {
    font-size: 15px;
}

.ylatunniste {
    font-size: 20px;
    padding: 4px;
}