body {
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("./images/Videogames.jpg");
    background-size: 2000px;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    zoom: 85%;
}

h4 {
    margin: 15px;
    padding-left: 8px;
    font-size: 30px;
}

h2 {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
}

div#kysymysVastaus {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 0;

}

div {
    background-color: #FFBCE9;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 20px solid #921560;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

label {
    font-size: 33px;
}

input[type="radio"] {
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 25px;
    margin-top: -1px;
    vertical-align: middle;

}

button {
    margin: 10px;
}

button#seuraava {
    visibility: hidden;
}

.correctAnswer {
    color: green;
}

.incorrectAnswer {
    color: red;
}