body{
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(50, 0, 73);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(../pictures/background-2743842_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 60px;
    color: rgb(33, 2, 63);
    padding-right: 30px;
    padding: 30px;
    background-color: rgb(244, 200, 255);
}
h4{
    font-size: 20px;
    position: relative;

}
div{
    background-color: rgb(219, 127, 255);
    grid-column: 2/3;
    grid-row: 2/3;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 30px;
    color: rgb(33, 2, 63);
}
input[type="radio"]{
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 40px;
    height: 40px;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
p:nth-of-type(1){
    background-color: rgb(219, 127, 255);
    border-bottom : 20px solid rgb(255, 255, 255);
    border-width: 10px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
button{
    background-color: rgb(50, 0, 73);
    color: rgb(244, 200, 255);
    border-width: 5px;
    border-color: rgb(244, 200, 255);
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    margin: 0 auto;
    display: block;
}