/*
    Created on : December, 2021
    Author     : Siiri Poropudas, Carita Niskanen, Joni Lampela
*/

/*
Asetetaan kuva taustaksi keskelle ja säätetään kuvaa, jotta se ei toistu. Keskitetääv kuva ja tehdään siitä 1950x1300 pikselin suuruinen, jotta se täyttää koko sivun. Määritetään kuvan pituus 100 prosenttiseksi. Määritellään fontti Segoe UI:ksi.
*/
body{
    background-image: url("../Etusivu/Kuvat/triangles-1430105_960_720.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1950px 1300px;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

/*
Tehdään "buttonBox" laatikosta 750x500 pikselin suuruinen ja asetetaan margin-top 25 pikselin suuruiseksi. Lisätään laatikolle jatkuvat 10 pikselin tylppäkulmaiset reunaviivat, jotka ovat 10 pikselin levyiset. Vaihdetaan laatikon taustaväriksi rgb(252, 220, 245), keskitetään teksti ja fonttikoko 30 pikselin suuruiseksi.
*/
.buttonBox{
    border: 10px solid rgb(16, 52, 100);
    border-radius: 10px;
    background-color: rgb(252, 220, 245);
    text-align: center;
    font-size: 30px;
    height: 750px;
    width: 500px;
    margin-top: 25px;
}

/*
Lisätään 20 pikselin verran marginia ylös. Säädetään fonttikoko 40 pikselin suuruiseksi, lihavoidaan teksti ja väritetään se tummansiniseksi.
*/
.otsikko {
    font-size: 40px;
    font-weight: bold;
    color: rgb(16, 52, 100);
    margin-top: 20px;
}

/*
Säädetään jokaisen tietovisan nappien paddingia 15 pikselin verran, tylpistetään reunoja 15 pikselin verran, lisätään paddingia erikseen oikealle sekä vasemmalle tasoittamaan nappien pituuseroja. Säädetään fonttikoko 30 pikselin suuruiseksi sekä margin-top 20 pikselin suuruiseksi. Asetetaan myös jokaiselle napille sen siihen liittyvän tietovisan mukaiset teemavärit. Lisätään myös jokaiseen nappiin :hover efekti, joka lihavoi tekstiä ja värjää tekstin teeman mukaisella värillä.
*/
#pop{
    padding: 15px;
    background-color:#fad7ff;
    border: 3px solid #d6208d;   
    border-radius: 15px;    
    padding-left: 72px;
    padding-right: 72px;
    margin-top: 20px;
    font-size: 30px;
}

#luonnontiede{
    padding: 15px;
    background-color: #bcebc2;
    border: 3px solid #20d638;   
    border-radius: 15px;   
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    font-size: 30px;
}

#historia{
    padding: 15px;
    background-color: #f8f7c4;
    border: 3px solid #d3cf00;    
    border-radius: 15px;   
    padding-left: 102px;
    padding-right: 102px;
    margin-top: 20px;
    font-size: 30px;
}

#taide{
    padding: 15px;
    background-color: #f6d2fa;
    border: 3px solid #a311b6;    
    border-radius: 15px;  
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 20px;
    font-size: 30px;
}

#urheilu{
    padding: 15px;
    background-color: #eeddc4;
    border: 3px solid #d68d20; 
    border-radius: 15px;  
    padding-left: 105px;
    padding-right: 105px;
    margin-top: 20px;
    font-size: 30px;
}

#pop:hover{
    color: #79104f;
    font-weight: bold;
}

#luonnontiede:hover{
    color: #116e1d;
    font-weight: bold;
}

#historia:hover{
    color: #949100;
    font-weight: bold;
}

#taide:hover{
    color: #670974;
    font-weight: bold;
}

#urheilu:hover{
    color: #8f5e14;
    font-weight: bold;
}