body{
    font-size: 3em;
    background-color: #FFC288;
}
#head{

}

#subhead{

}

.col-6{
    text-align: center;
    background-color: #FEA82F;
    border: 15px solid #FF6701;
    border-radius: 15px;
    font-family: cursive;
}

.container{
    text-align: center;
    padding-top: 4em;
    background-color: transparent;
    
}

input[type="radio"]{
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
