body{
    font-size: 3em;
 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FCECDD;
    background-color: #FFC288;
    min-height: 100vh;
    display: grid;
    gap: 10px;
    padding: 20px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    text-align: center;
}
.col{
    text-align: center;
    background-color: #FEA82F;
    border: 15px solid #FF6701;
    border-radius: 15px;
}

.container{
    text-align: center;
}

input[type="radio"]{
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
