body{
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(50, 0, 73);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(33, 2, 63);
    padding-right: 30px;
    background-color: rgb(244, 200, 255);
}
h4{
    font-size: 20px;
    
}
div{
    background-color: rgb(219, 127, 255);
    grid-column: 2/3;
    grid-row: 2/3;
    border: 20px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 50px;
   
}
input[type="radio"]{
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 40px;
    height: 40px;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
p:nth-of-type(1){
    background-color: rgb(219, 127, 255);
    border-bottom : 20px solid rgb(255, 255, 255);
    border: radius 20px;
    font-size: 75%;
    text-align: center;
    padding: 10px;
}