input[type="radio"]{
    margin: 0.3em;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
#kysymys1Body{
    text-align: center;
    background-image: url("../../Tietovisa-7thheaven/Luonnontiede/Luonnontiede.jpg");
    background-size: cover;
}
#numero{
    font-size: 20px;
    text-align: left;
    padding-top: 0em;
}
.pisteet{
    font-size: 20px;
    text-align: left;
    padding-top: 0em;
}
#loppuPisteet{
    font-size: 50px;
}
#totalPoints{
    font-size: 50px;
}
#content{
    padding-top: 3em;
}
span{
    font-weight: bold;
}
.col-6{
    text-align: center;
    background-color: rgb(163, 238, 163);
    border: 15px solid rgb(7, 226, 55);
    border-radius: 15px;
}
#aloitus > a{    
    text-decoration: none;
    font-size: 2em;
    color: black;
    margin: 3em;
}
p{
    font-family:cursive;
    font-size: 1.5em;
}
#kysymys{
    text-decoration: underline;
    text-decoration-color: rgb(28, 141, 0);
}
#kysymys2Body{
    background-image: url("../../Tietovisa-7thheaven/Luonnontiede/Luonnontiede.jpg");
    text-align: center;
    background-size: cover;
}
.kuvalinkki{
    color: black;
    text-decoration: none;
}