/* Siiri Poropudas */


/*
Asetetaan "Background_image" taustaksi keskelle ja tehdään siitä 5000 pikselin suuruinen, jotta se täyttää koko sivun. Säädetään myös kuvan pituutta, jotta se täyttää koko sivun pystysuunnassa.
*/
body {
    background-image: url("../Kuvat/Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: center;
    height: 100%;
}

/*
Asetetaan "quiz" laatikon tasutaväriksi vaaleanpunainen sekä reunoiksi tylppä 20:nen pikselin suuruinen purppura viiva. Määritetään "quiz" laatikko 650 pikselin levyiseksi ja 400 pikselin pituiseksi. Määritetään margin kyseiselle laatikolle automaattisesti sekä margin-top 250 pikselin suuruiseksi.
*/
.quiz {
    background-color: #FFBCE9;
    border: 20px solid #921560;
    border-radius: 20px;
    width: 650px;
    height: 400px;
    margin: auto;
    margin-top: 250px;
}

/*
Asetetaan teksti keskelle "quiz" laatikkoa. Määritellään myös fontti koko 25 pikselin suuruiseksi ja margin-top 20 pikselin suuruiseksi.
*/
.tietoja {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

/*
Asetetaan otsikolle taustaväriksi valkoinen ja keskitetään se keskelle "quiz" laatikkoa. Säädetään otsikolle yleistä paddingia 20 pikseliä sekä paddingia oikealle ja vasemmalle 25 pikseliä. Asetetaan myös marginia 25 pikselin suuruiseksi. Tehdään fontista lihavoitu sekä 40 pikselin kokoinen.
*/
.otsikko {
    background-color: white;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
}

/*
Säädetään napeille margin-top 25 pikselin suuruiseksi. Keskitetään napit myös.
*/
.buttons {
    margin-top: 25px;
    text-align: center;
}

/*
Asetetaan onnentoivotus tekstin margin-top 35 pikselin suuruiseksi sekä keskitetään se keskelle "quiz" laatikkoa vaakasuoraisesti. Säädetään tekstin fonttikoko 25 pikselin suuruiseksi sekä lihavoidaan teksti.
*/
.onnea {
    margin-top: 35px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}