body {
    background-image: url("Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: center;
    height: 100%;
    zoom: 75%;
}

.quiz {
    background-color: #FFBCE9;
    border: 20px solid #921560;
    border-radius: 20px;
    width: 650px;
    height: 400px;
    margin: auto;
    margin-top: 250px;
}

.tietoja {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.otsikko {
    background-color: white;
    text-align: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
}

.buttons {
    margin-top: 25px;
    text-align: center;
}

.onnea {
    margin-top: 35px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.ylatunniste {
    font-size: 25px;
    color: black;
}